@use './variables.scss' as vars;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: 'public sans';
}

header, main, footer, html {
	background-color: vars.$c-beige-100
}

a {
	color: inherit;


	&:visited {
		color: inherit;
	}
}

.modal {
	background-color: rgba($color: #000000, $alpha: 0.5);
	position: fixed;
	width: 100%;
	left: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
}

button {
	background-color: vars.$c-grey-900;
	color: vars.$c-white;
	padding: 16px;
	border: none;
	border-radius: 8px;
	@include vars.text-preset-4-bold;
	cursor: pointer;
}