@use './variables.scss' as vars;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: 'public sans';
}

header, main, footer, html {
	background-color: vars.$c-beige-100
}

a {
	color: inherit;


	&:visited {
		color: inherit;
	}
}