
@use '../styles/variables.scss' as vars;

.layout {
	display: flex;

	.gap {
		flex-shrink: 0;
	}
}

main {
	width: 100%;
	background-color: vars.$c-beige-100;
}

@media screen and (max-width: 1144px) {
	.layout {
		margin-bottom: 74px;

		.gap {
			display: none;
		}
	}
}