@use '../../styles/variables.scss' as vars;


.red-border {
	border: 2px solid red;
}


header {
	width: 100%;
	background-color: vars.$c-grey-900;
	height: 70px;
	border-radius: 0 0px 8px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-page {
	display: flex;
	height: calc(100vh - 70px);
	justify-content: center;
	align-items: center;

	.left {
		display: none;
	}

	.login-form {
		background-color: vars.$c-white;
		padding: 24px 20px;
		min-width: 340px;
		max-width: 560px;
		width: 100%;
		border-radius: 12px;
		margin: 16px;

		.inputs {
			display: flex;
			flex-direction: column;

			margin: 32px 0;


			label {
				margin-top: 16px;
				@include vars.text-preset-5-bold;
				color: vars.$c-grey-500
			}

			label:nth-child(1) {
				margin-top: 0;
			}

			input {
				padding: 12px 20px;
			}

			input[type=submit] {
				@include vars.text-preset-4-bold;
				margin-top: 32px;
				background-color: vars.$c-grey-900;
				color: vars.$c-white;
				border: none;
				border-radius: 8px;
			}
		}

		p {
			@include vars.text-preset-4;
			text-align: center;
			color: vars.$c-grey-500;

			a {
				color: vars.$c-grey-900;
				font-weight: bold;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.error {
			color: red;
			text-align: start;
		}
	}
}

@media screen and (min-width: 1440px) {
	header {
		display: none;
	}


	.login-page {
		display: grid;
		height: 100vh;

		grid-template-columns: 2fr 3fr;

		.left {
			height: calc(100% - 40px);
			margin: 15px;
			border-radius: 15px;
			display: inline-block;
			background-image: url('../../assets/loginIllustration.svg');
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			img {
				margin: 40px;
				width: 120px;
			}

			.text {
				color: vars.$c-white;
				margin: 0 40px;
				text-shadow: 1px 1px 3px black;

				h2 {
					@include vars.text-preset-1
				}

				p {
					margin-top: 24px;
					margin-bottom: 40px;
				}
			}
		}

		.login-form {
			justify-self: center;
		}
	}

}