# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.egg-info/
.eggs/
*.egg
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
*.env
.env
*.venv
venv/
ENV/
env/
*.coverage
.coverage
htmlcov/
*.mypy_cache/
.mypy_cache/
*.pytest_cache/
.pytest_cache/
*.pyre/
.pyre/
*.pdm.toml
.pdm.toml
*.pdm.lock
.pdm.lock

# Django
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3
*.env
.env
*.staticfiles
staticfiles/
media/
*.media
*.migrations/
migrations/

# Node.js / Vite / React
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.DS_Store
*.local
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.cache/
.cache/
.idea/
*.iml
*.sublime-workspace
*.sublime-project